service: canvas

custom:
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}
  config: ${file(./config.json)}

provider:
  name: aws
  stage: dev
  region: us-east-1
  runtime: nodejs6.10
  profile: serverless-admin
  memorySize: 128
  timeout: 5
  versionFunctions: false
  environment:
    CASSANDRA_IP: ${self:custom.config.db.CASSANDRA_IP}
    CASSANDRA_USER: ${self:custom.config.db.CASSANDRA_USER}
    CASSANDRA_PASSWORD: ${self:custom.config.db.CASSANDRA_PASSWORD}
    CASSANDRA_KEYSPACE: ${self:custom.config.db.CASSANDRA_KEYSPACE}
    CASSANDRA_BOARD: ${self:custom.config.db.CASSANDRA_BOARD}
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "iot:Publish"
      Resource:
        Fn::Join:
          - ""
          - - "arn:aws:iot:"
            - ":${self:custom.region}:"
            - Ref: 'AWS::AccountId'
            - ":topic/canvas"
    - Effect: "Allow"
      Action:
        - "iot:Connect"
      Resource: "*"

functions:
  canvas:
    handler: handler.canvas
    events:
      - http:
          path: canvas
          method: get
      - http:
          path: canvas
          method: put      